<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./css/style.css">
    <title><%= title %></title>
</head>
<body>
    <nav class="p-6 bg-black ">
        <div class="container flex flex-wrap items-center justify-between mx-auto ">
          <a href="/" class="flex items-center ">
            <span class="self-center text-xl font-semibold whitespace-nowrap text-white ">Digital-Voting-system</span>
          </a>
         
        </div>
    </nav>    
    
    <div class="grid grid-cols-3">
        <div class="col-start-2 col-span-2">            
            <p class="py-2 text-4xl">Welcome to Digital Voting system</p>
        </div>
        
    </div>
    <div class="grid grid-cols-8">
        <div class="col-start-4 col-span-2">
          <p class="py-2 text-1xl" >New here? <a class="text-green-600" href="/signup">Sign-up</a></p>
          <p class="py-2 text-1xl">Already have an account? <a class="text-green-600" href="/login">Sign-in</a></p>
        </div>
    </div>
</body>
</html>